* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    background-color: black;
    font-size: 200px;
}

h2 { 
    background-
}

button {
    font-family: Verdana, Geneva, Tahova, sans-serif
    border-radius: 5px;
}
